body {
    font-family: 'Ubuntu', sans-serif;
    font-weight:400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li, {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 62px;
    color: white;
    padding-bottom: 93px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Весь оффер */
/* ____________________________________ */

.offertext {
    margin-top: 20px;
}

/* Заголовок */
/* ____________________________________ */

.ttle {
    letter-spacing: 2px;
    line-height: 1.56;
}

.span {
    font-size: 59px;
    margin: 10px 0px 0px 0px
}

/* Текст оффера */
/* ____________________________________ */
.introtext {
    font-family: 'Open Sans', sans-serif;
    margin: 47px 0px;
    width: 400px;
    line-height: 27px;
}

/* Кнопка */
/* ____________________________________ */
.buttn {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    background-color: #ffd429;
    text-decoration: none;
    display: block;
    width: 222px;
    padding: 22px 28px;
    text-align: center;
    transition: all 0.2s ease;
}

.buttn:hover {
    background-color: black;
    color: white;
}

/* Заголовок 2 */

.section1 {
    padding-top: 108px;
    padding-bottom: 120px;
}

/* ______________________________________ */
.h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}

/* Блок с 3-мя блоками */
/* _______________________________________ */

.desc1 {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    text-align: center;
}

.desc1 div {
    width: 290px;
}
h3 {
    font-weight: 700;
    font-size: 19px;
}

p {
    font-size: 15px;
    line-height: 1.4;
}

.img1 {
    margin-bottom: 10px;
    }
.img2 {
    margin-bottom: 2px;
}

/* 3-ий блок */
/* _________________________________________ */

.form input {
    display: block;
    padding: 10px;
    width: 255px;
    margin-bottom: 15px;
}

.section2 {
    background-color: #ecf3f8;
    padding-top: 104px;
    padding-bottom: 105px;
}

.h22 {
    text-align: center;
    margin-bottom: 57px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button2 {
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 19px 30px;
    width: 280px;
    border: 0;
}

/*  Футер */
/* _______________________________________ */
.footer {
    background-color: #164d7a;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer p {

    margin: 0;
}

/* Responsive */
/* _______________________________________ */

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .headimg {
        width: 580px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
        padding-top: 40px;
    }
    .offer: {
        width: 100%;
    }
    .offer h1, p {
        text-align: center;
    }
    .introtext {
        width: 100%;
    }
    .buttn {
        margin: 0 auto;
    }
    .desc {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .desc1 {
        flex-direction: column;
        align-items: center;
    }
    .headimg {
        width: 540px;
    }
    .form input {
        width: 100%;
    }
    .button2 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: auto;
        padding: 0px 20px;
    }
    .offer {
        width: 320px;
    }
    .buttn {
        width: auto;
    }
    .headimg {
        width: 320px;
    }
    .introtext {
        width: 320px;
    }
}