* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: .08em;
    font-weight: 500;
    display: flex;
    flex-direction: column;

}

/* Div Flex */
.divflex {
    display: flex;
    flex-direction: column;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: 494px 104px;
    width: 100%;
    max-width: 1470px;
    margin: auto;
    padding-top: 95px;
    height: 925px;

}


/* Div Offer */
.offer {
    width: 100%;
    max-width: 601px;
    background-image: url(../img/Line.png);
    background-repeat: no-repeat;
    background-position: 0 126px;
    padding-left: 67px;
    margin-top: 60px;

}
/* Title */
.title {
    font-size: 129px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 13px 6px rgba(0, 0, 0, 0.21);
}

.titlelink {
    text-decoration: none;
    color: black;
}

.titlelink:hover {

}

/* Text Offer */
.text {
    text-align: center;
    height: 68px;
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 668px;
    margin-top: 100px;
}
.button {
    width: 300px;
    padding: 25px 70px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 67px;
    margin-bottom: 50px;
    box-shadow: 0px 13px 6px rgba(0, 0, 0, 0.25);
    transition: .2s ease;
}

.button:hover {
    color: white;
    padding: 30px 75px;
    box-shadow: 0px 13px 6px rgba(0, 0, 0, 0.30);
}