@media (max-width: 400px) {

    .header {
        padding: 23px 18px;
    }
    .header_content {
        gap: 0;
    }
    .nav_header {
        display: none;
    }
    .button_call {
        display: none;
    }

    /* Section 1========================== */

    .section1 {
        padding: 85px 18px;
    }
    .content {
        width: 100%;
    }
    .h1 {
        font-size: 23px;
        line-height: 130%;
    }
    .text_section1 {
        font-size: 14px;
        width: 95vw;
        line-height: 135%;
    }
    .btn {
        display: block;
        width: 90vw;
        margin-top: 25px;
    }
    /* Section 2=========================== */
    .content_section2 {
        padding: 36px 18px;
    }
    .title_of_completed_projects {
        display: none;
    }
    .completed_projects_container {
        flex-direction: column;

    }
    .left_side {
        margin: 0;
        width: 100%;
        align-items: center;
    }
    .title_completed_project_h2 {
        text-align: center;
    }
    .text_completed_project {
        font-size: 11px;
        text-align: center;
    }
    .spec_container {
        margin-top: 320px;
    }
    .image_container {
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
    }
    .online_control {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .video_container {
        position: static;
        width: auto;
        transform: translate(0);
        margin-top: 30px;
    }
    /* Section3====================== */
    .section3 {
        background-color: black;
    }
    .content_section3 {
        margin-top: 0;
        background-color: black;
    }
    .text_section3 {
        width: 90vw;
        color: white;
        font-size: 11px;
        line-height: 170%;
        margin-bottom: 60px;
    }
    .text_section3::before {
        content: "";
        display: block;
        width: 70px;
        border: 1px solid #E3B873;
        border-radius: 30px;
        background-color: #E3B873;
        margin:0 auto 30px;
    }
    .form_container {
        margin:0;
    }
    .one_input:first-of-type {
        margin-bottom: 60px;
    }
    .label_input {
        color: rgba(255, 255, 255, 0.5);
    }
    .input {
        width: 90vw;
        background-color: black;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    }
    .input::placeholder {
        color: white;
        font-size: 14px;
    }
    .button_form {
        width: 90vw;
        position: absolute;
        transform: translateY(225%);
    }

    .checkbox_container {
        margin: 0;
        margin:20px 0 50px;
    }
    .checkbox_label {
        color: white;
    }
    /* Section4 +=========================== */
    .section4 {
        background-color: white;
        margin-top: 60px;
    }
    .content_section_4 {
        padding: 0;
    }
    .h4_section4 {
        font-size: 22px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .types_of_repair_container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .one_type_of_repair {
        width: 90vw;
    }
    .text_type_of_repair {
        margin: 0;
    }
    .title_of_list {
    font-size: 15px;
    color: #363636;

    }
    .list_item_s4 {
        font-size: 13px;
    }
    /* Section5-========================== */
    .section5 {
        display: none;
    }
    /* Section6========================== */
    .section6 {
        margin-top: 0;
        padding: 0;
        background-image: none;
    }
    .section6::after {
        display: none;
    }
    .container_section6 {
        flex-direction: column;
    }
    .left_side_s6 {
        padding: 0;
    }
    .h2_section_6 {
        margin: 0 auto;
        text-align: center;
        font-size: 26px;
        width: 80%;
        line-height: 160%;
        font-weight: 200;
    }
    .list_section6 {
        display: none;
    }
    .one_column_images {
        display: none;
    }
    .one_column_images_1 {
        display: block;
        top: 26px;
        width: 90vw;
        margin: 0 auto;
        height: 225px;
        z-index: 500;
    }
    .one_column_images_1 > img {
        position: relative;
        z-index: 10;
    }
    .one_column_images_1 > img:nth-of-type(2){
        display: none;
    }
    /* Section7======================= */
    .section7 {
        margin: 0;
        padding: 0;
        top: -80px;
    }
    .container_section7 {
        display: none;
    }
    .form_section7 {
        z-index: 0;
        position: static;
        padding: 175px 20px 0;
        width: 100vw;
        transform: translate(0);

    }
    .title_form_s5 {
        font-size: 20px;
        width: 100%;
    }
    .flex_input {
        flex-direction: column;
    }
    .input {
        border-bottom: 1px  solid white;
    }
    .checkbox_container_s7 {
        margin: 0;
        margin-bottom: 50px;
    }
    .button_form_s7 {
        position: static;
        transform: translate(0);
    }
    .input_checkbox_s7 + label {
        font-size: 15px;
    }
    /* Section8================ */
    .section8 {
        padding: 0;
    }
    .section8_container {
        padding-bottom: 50px;
    }
    .text_section8 {
        margin-top: 240px;
    }
    .map_container {
        width: 90vw;
        height: 35vh;
        position: absolute;
        top: -80px;
    }
    /* Footer=========================== */
    .footer {
        display: none;
    }
    .social_icos > img {
        width: 12vw;
    }
}